llama-index-llms-openai
llama-index-embeddings-clip
llama-index
llama-index-vector-stores-qdrant
llama_index 
ftfy 
regex 
tqdm
openai
torch 
torchvision
matplotlib 
scikit-image
qdrant_client
git+https://github.com/openai/CLIP.git